In [1]:
import pandas as pd
from functools import reduce

## Marvel

In [2]:
mv = pd.read_csv('Reviews_Marvel.csv')
print(mv.shape)
mv.head()

(21186, 4)

,name,review,stars,date
0,Captain America: The First Avenger,Captain America: The First Avenger might not...,3.5,"April 11, 2019"
1,Captain America: The First Avenger,"It starts well, but later, it goes like a ca...",3.0,"April 11, 2019"
2,Captain America: The First Avenger,"Chris Evans, with a physique so chiseled, ca...",2.0,"April 9, 2019"
3,Captain America: The First Avenger,(78/100)Captain America: The First Avenger i...,4.0,"April 8, 2019"
4,Captain America: The First Avenger,The overly patriotic aspect of the character...,1.0,"April 7, 2019"

In [3]:
def reducer1(df_filterbymovie):
    return reduce(lambda x, y: x+" "+y, df_filterbymovie['review'])

In [4]:
movielist_mv = list(mv.name.unique())
reviewlist_mv = []
for moviename in movielist_mv:
    df_filterbymovie = mv[mv['name'] == moviename]
    reviewlist_mv.append(reducer1(df_filterbymovie))

In [5]:
mv_groupby = pd.DataFrame(
    {'name': movielist_mv,
     'review': reviewlist_mv,
    })
print(mv_groupby.shape)
mv_groupby.head()
mv_groupby.to_csv("Reviews_Marvel_GroupbyMovie.csv")

(21, 2)

In [ ]:
mv_groupby['review'][1]

## DC

In [8]:
dc = pd.read_csv('Reviews_DC.csv')
print(dc.shape)
dc.head()

(40385, 4)

,name,review,stars,date
0,Superman and the Mole-Men,"An average b-movie of the early 50s, precedi...",2.0,"April 6, 2019"
1,Superman and the Mole-Men,About what you would expect. Not that much a...,2.0,"May 7, 2017"
2,Superman and the Mole-Men,A charming little tale where the villains ar...,3.0,"June 15, 2015"
3,Superman and the Mole-Men,"Where to even begin? For starters, this is m...",3.0,"June 8, 2015"
4,Superman and the Mole-Men,terrible. superman is only in it for like 2 ...,0.5,"September 29, 2014"

In [9]:
def reducer1(df_filterbymovie):
    return reduce(lambda x, y: x+" "+y, df_filterbymovie['review'])

In [10]:
movielist_dc = list(dc.name.unique())
reviewlist_dc = []
for moviename in movielist_dc:
    df_filterbymovie = dc[dc['name'] == moviename]
    reviewlist_dc.append(reducer1(df_filterbymovie))

In [11]:
dc_groupby = pd.DataFrame(
    {'name': movielist_dc,
     'review': reviewlist_dc,
    })
print(dc_groupby.shape)
dc_groupby.head()
dc_groupby.to_csv("Reviews_DC_GroupbyMovie.csv")

(46, 2)

In [ ]:
dc_groupby['review'][1]